@font-face{
	font-family: gooddog-cool;
	src: url("gooddog cool.woff");
}
@font-face{
	font-family: gooddog;
	src: url("gooddog.woff");
}
@font-face{
	font-family: DejaVuSans;
	src: url("DejaVuSans.woff");
}
@font-face{
	font-family: myriadpro;
	src: url("MYRIADPRO-BOLD.woff");
}